{
  "parser": "@babel/eslint-parser",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "sort-imports": ["error", { "ignoreDeclarationSort": true }]
  }
}
